:root{
    --dark-magneta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magneta: hsl(303, 10%, 53%);
    --light-grayish-magneta: hsl(300, 77%, 95%);
    --white: hsl(0, 0%, 100%);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Spartan', sans-serif;
}
.main{
    padding: 4em 0;
    max-width: 85%;
    margin: 0 auto;
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
        color: var(--dark-magneta);
        padding: 0 2rem;
    }
    p{
        color: var(--dark-grayish-magneta);
        font-size: 0.875rem;
        padding: 1em 0;
        font-weight: 500;
    }
}
.rating{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em 0;
    .prostokat{
        background: var(--light-grayish-magneta);
        font-size:  0.733rem;
        font-weight: 600;
        color: var(--dark-magneta);
        margin: 0.5em 0;
        padding: 1em 0;
        border-radius: 10px;
        .stars{
            padding:0.5em 0;
        }
    }
    .prostokat:last-child{
        margin-bottom: 2em;
    }
}
.cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    .karta{
        background:var(--dark-magneta);
        margin: 0.5em 0;
        border-radius: 10px;
        padding: 2em;
        .person{
            display: flex;
            img{
                border-radius: 5em;
                width: 35px;
                height: 35px;
                margin-right: 1.5rem;          
            }
        }
        .citation{
            color: white;
            text-align: start;
            font-size: 12px;
            font-weight: 400;
            margin-top: 1.5rem;
            line-height: 1.5;
        }
    }
}
.image_name_div{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
    padding: 4px 0;

    .name{
        color: var(--white);
        font-size: 12px;
        font-weight: 600;
    }
    .verified{
        color:var(--soft-pink);
        font-size: 12px;
        font-weight: 300;
    }
}

@media (min-width: 900px) {
    body{
        background-image: 
        url(../images/bg-pattern-top-desktop.svg), 
        url(../images/bg-pattern-bottom-desktop.svg); 
        background-size: 40%, 100%;
        height: 100vh;
    }
    .main{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: auto;

    }
    .title{
        text-align: left;
        width: 85%;
        margin-bottom: 6em;
        h1{
            padding: 0 0;
            font-size: 2em;
        }
    }
    .rating{
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0 0 12em 0;
        padding: 0;
        .prostokat{
            position:absolute;
            display: inline-block;
            margin-top: 0;
            width: calc(200px + 50%);
            .stars{
                display: inline-flex;
                padding: 0 2em 0 2em;
                img{
                    padding-right: 0.3em;
                }
            }
            p{
                display: inline-block;
            }
            }
        } 
    .prostokat:nth-child(1){
        right:50px;
    }
    .prostokat:nth-child(2){
        top:50px;
        right:25px;
    }
    .prostokat:nth-child(3){
        top:100px;
    }
    .cards{
        grid-column: 1/3;
        flex-direction: row;
        justify-content: space-between;
        gap: 3%;
        .karta{
            padding: 2%;
            height: 200px;
        }
    } 
    .karta:nth-child(1){
        transform: translateY(-40px);
    }
    .karta:nth-child(2){
        transform: translateY(-20px);
    }
    .karta:nth-child(3){
        transform: translateY(0);
    }
    
}